
#res{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px black solid;
}

.tarjeta{
   width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
    border: 1px black solid;
   
}
